.site-header {
	overflow: hidden;
}

.hamburger, .close {
	position: absolute;
	width:40px;
	height:28px;
	top: 10px;
	right: 0px;
	cursor: pointer;
	z-index: 1001;
	text-align: left;

	&:focus {
		outline: thin dotted;
		color: #f2bd37;
	}

	.patty, &:before, &:after {
		background-color: $gold;
		content: "";
		height: 3px;
		position: absolute;
		width: 40px;
		@include transition(all 0.3s ease);
	}

	.patty {
		top: 12px;
		right: 0px;
	}

	&:after {
		top: 24px;
	}

	&:hover .patty {
		right: -1rem;
	}
}

.close {	
	right: 15px;

	@media (max-width: 768px){
		right: 0;
	}

	.patty, &:hover .patty, &:focus .patty {
		right: -60rem;
	}

	&:before {
		transform: translateY(12px) rotate(45deg);
	}

	&:after {
		transform: translateY(-12px) rotate(-45deg);
	}

	&:hover {
		&:before {
			transform: translateY(12px) rotate(-45deg);
		}

		&:after {
			transform: translateY(-12px) rotate(45deg);
		}
	}

	.modal & {
		top: 2rem;
		right: 2rem;
		z-index: 2001;
		overflow: hidden;
		padding-top: 2px;
		height: 32px;

		&:after {
			top: 26px;
		}

	}

	.dropdown & {
		top: 1rem;
		right: 1rem;
	}
}

.site-branding {
	.page-title {
		position: absolute;
		top: 16px;
		right: 58px;
		color: $white_transparent;
		font-family: $font__subheading;
		text-transform: uppercase;
		@include font-size(0.8);
		letter-spacing: 1px;
	}
}

.nav-interior-container {
	position: relative;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}


.nav-container {
	opacity: 0;
	// overflow-y: scroll;
	clear: both;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background: $darkpurple_nav;
	float: left;
	width: 100%;
	z-index: 1000;
	@include transition(all 0.4s ease);

	&.show {
		opacity: 1;
	}

	&.hide {
		visibility: hidden;
		transition-delay: 300ms;
	}

	ul {
		display: none;
		list-style: none;
		padding-left: 0;
		@include rem-size("width", 30);
		cursor: default;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

		li {
			width: 100%;
			padding: 4vh 0;
			text-align: center;
			text-transform: uppercase;
			position: relative;

			.menu-description {
				position: absolute;
				width: 100%;
				top: -1rem;
			}

			&.active {
				.menu-description, .menu-text a {
					opacity: 1;
					@include transition(all 0.2s ease);
				}

				&:nth-child(2) {
					.menu-description { transition-delay: 40ms; }
					.menu-text a {transition-delay: 60ms; }
				}

				&:nth-child(3) {
					.menu-description { transition-delay: 80ms; }
					.menu-text a {transition-delay: 100ms; }
				}

				&:nth-child(4) {
					.menu-description { transition-delay: 120ms; }
					.menu-text a {transition-delay: 140ms; }
				}

				&:nth-child(5) {
					.menu-description { transition-delay: 160ms; }
					.menu-text a {transition-delay: 180ms; }
				}

				&:nth-child(6) {
					.menu-description { transition-delay: 200ms; }
					.menu-text a {transition-delay: 220ms; }
				}
			}

			&.passive {
				.menu-description, .menu-text a {
					opacity: 0;
					@include transition(all 140ms ease);
				}

				&.passive:nth-child(1) {
					.menu-text a {transition-delay: 240ms; }
				}

				&.passive:nth-child(2) {
					.menu-description { transition-delay: 200ms; }
					.menu-text a {transition-delay: 220ms; }
				}

				&.passive:nth-child(3) {
					.menu-description { transition-delay: 160ms; }
					.menu-text a {transition-delay: 180ms; }
				}

				&.passive:nth-child(4) {
					.menu-description { transition-delay: 120ms; }
					.menu-text a {transition-delay: 140ms; }
				}

				&.passive:nth-child(5) {
					.menu-description { transition-delay: 80ms; }
					.menu-text a {transition-delay: 100ms; }
				}

				&.passive:nth-child(6) {
					.menu-description { transition-delay: 40ms; }
					.menu-text a {transition-delay: 60ms; }
				}
			}
		}


		.menu-text, .menu-description {
			letter-spacing: 3px;
			margin: 0;
		}

		.menu-text {
			@include font-size(3.5);
			@include line-height(3.5);
		}

		.menu-description {
			color: $lightpurple;
			line-height: 2rem;
		}

		.menu-description:empty {
			display: block !important;
		}

		&:hover {
			.menu-text a {
				color: $lightpurple;
				@include transition(all 0.2s ease);
				transition-delay: 0ms!important;
			}
		}

		&:hover {
			.menu-text:hover a {
				color: $white;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.description {
		text-transform: uppercase;
		color:$lightpurple;
		@include font-size(1.1);
		line-height: 1.1rem;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


/* Landing Page Menu */
.sub-nav-container {
	padding: 4rem 0;
}

.sub-nav {
	padding-left: 0;
	margin-bottom: 0;
	position: relative;
	
	li {
		text-transform: uppercase;
		position: relative;
		display: inline-block;
		padding-left: 2rem;
		margin: 0 5px;
		letter-spacing: 1px;
		@include font-size(1.4);
		@include transition(all 0.1s ease);

		&:hover, &.active {
			a {
				color: $gold;
			}
		}

		&:first-child {
			padding-left: 0;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	display: none;
}
.main-navigation ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
